.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidebar {
  height: calc(100vh - 56px);
  position: fixed;
  left: 0;
  top: 56px;
  width: 25%;
  overflow-y: auto;
  border-right: 1px solid #dee2e6;
}

.main-content {
  margin-left: 25%;
  padding: 0;
  height: calc(100vh - 56px);
}

.navbar-brand {
  font-weight: bold;
}

.nav-link.active {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.25rem;
}
